<section class="home">
  <div class="overhead"></div>
  <div class="cover">
    <canvas id="canvas">
    Your browser does not support the HTML5 canvas tag.</canvas>
    <div class="title">
      <h3>But Mostly I Think of You</h3>
    </div>
  </div>
  <div class="legroom">
    <ul class="nav">
      <li id="nav-item-1"><a href="#/">home</a></li>
      <li id="nav-item-2"><a href="#/author">author</a></li>
      <li id="nav-item-3"><a href="#/book">book</a></li>
      <li id="nav-item-4"><a href="#/blog">blog</a></li>
    </ul>
  </div>
</section>
