body {
  margin: 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    margin-top: 0px; }
  body .page-animation.ng-enter {
    opacity: 0;
    transform: scale3d(1.1, 1.1, 1);
    -webkit-filter: blur(5px);
    transition: 0.4s linear all; }
  body .page-animation.ng-enter.ng-enter-active {
    opacity: 1;
    transform: scale3d(1, 1, 1);
    -webkit-filter: blur(0px); }
