section.blog-single {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #F8F6F2; }
  section.blog-single .navbar {
    position: relative;
    height: 46px;
    padding: 7px 40px;
    z-index: 20; }
    section.blog-single .navbar h2 {
      float: left;
      color: #555; }
    section.blog-single .navbar .nav {
      margin: 0px;
      float: right;
      padding: 10px 20px; }
      section.blog-single .navbar .nav li {
        display: inline-block;
        padding: 0px 34px; }
        section.blog-single .navbar .nav li a {
          color: #555;
          text-decoration: none;
          font-size: 14pt; }
        section.blog-single .navbar .nav li a:hover {
          color: #888; }
  section.blog-single .container {
    width: 700px;
    margin: 0 auto; }
    section.blog-single .container .post-header, section.blog-single .container .post-body {
      padding: 7px 0px; }
    section.blog-single .container .post-header .post-inline-avatar {
      display: inline-block; }
      section.blog-single .container .post-header .post-inline-avatar .avatar {
        height: 36px;
        width: 36px;
        border-radius: 18px; }
    section.blog-single .container .post-header .post-inline-feed {
      display: inline-block;
      margin-left: 10px;
      vertical-align: top; }
      section.blog-single .container .post-header .post-inline-feed .post-user, section.blog-single .container .post-header .post-inline-feed .post-date {
        position: relative;
        top: 0;
        display: block; }
      section.blog-single .container .post-header .post-inline-feed .post-user {
        color: #930801;
        height: 22px;
        font-size: 10pt; }
      section.blog-single .container .post-header .post-inline-feed .post-date {
        color: #aaa;
        height: 14px;
        font-size: 8pt; }
  @media screen and (max-width: 730px) {
    section.blog-single .container {
      width: 90%;
      padding: 0 10px; }
    section.blog-single .navbar .nav {
      width: 100%; }
      section.blog-single .navbar .nav li {
        padding: 0 0;
        text-align: center;
        width: 24%; } }
