<section class="blog-single">
  <div class="navbar">
    <ul class="nav">
      <li id="nav-item-1"><a href="#/">home</a></li>
      <li id="nav-item-2"><a href="#/author">author</a></li>
      <li id="nav-item-3"><a href="#/book">book</a></li>
      <li id="nav-item-3"><a href="#/blog">blog</a></li>
    </ul>
  </div>
  <div class="container">
    <div class="post-header">
      <div class="post-inline-avatar">
        <img src="assets/img/authorPortrait.jpg" class="avatar" / >
      </div>
      <div class="post-inline-feed">
        <span class="post-user">Candice</span>
        <span class="post-date">Jul 21</span>
      </div>
    </div>
    <div class="post-body">
      <h1>Natus ipsam illum magni inventore</h1>
      <p><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipisicing elit. Id reprehenderit voluptatum laudantium repellendus qui eos ipsam, earum, iusto illo dolore esse! Esse deserunt quidem unde! Pariatur eos in minus voluptatum.</p>
      <p>Magni, consequuntur, enim! Placeat quos, ratione, aliquid suscipit cupiditate eaque possimus neque pariatur, incidunt tempore accusantium. Odit accusantium at quo, consectetur ratione.</p>
      <p><em>Doloremque, corrupti. Ipsum quos voluptatibus</em> neque itaque laboriosam obcaecati ea, necessitatibus, dignissimos nulla officiis molestiae impedit consectetur tenetur enim modi voluptatem sit totam corporis! Voluptas nihil ullam nemo. Magnam, iure!</p>
      <p>Repellendus sunt repellat ipsam eos, id nihil nobis tenetur a consequuntur voluptate est et temporibus nostrum, dicta qui? Ullam autem sed temporibus magnam, minima esse obcaecati quam id totam nemo!</p>
      <p>Ducimus a, cumque officiis placeat voluptate. Iusto quae, blanditiis, non ad eius vero facere. Quaerat cum, explicabo? Aut accusantium mollitia hic dolorem placeat illo maxime, deleniti repudiandae blanditiis fugiat eius.</p>
    </div>
  </div>
</section>