<section class="author">
  <div class="overhead"></div>
  <div class="footer"></div>
  <div class="moon-x">
    <div class="moon-y">
      <div class="moon-rotate"></div>
    </div>
  </div>
  <div class="book-msg" id="book-quote-1">"They say it is a blood moon. The girl thought, how special it looks."</div>
  <div class="book-msg" id="book-quote-2">"How the colour makes the moon seem like it is throbbing. Pulsating to a rhythm that matches her heartbeat."</div>
  <div class="author-container">
    <div class="author-msg" id="author-header">About Candice Lim</div>
    <div class="author-msg" id="author-desc-1">Candice loves reading, especially dark and macabre tales or gruesome and twisted stories, such as Japanese crime novels. <em>The Melancholy Death of Oyster Boy &amp Other Stories</em> remains her favourite illustrated book of all time.</div>
    <div class="author-msg" id="author-desc-2">Candice has been the managing editor of a regional Green architectural magazine for the past eight years. Before this, she was an editor of illustrated and reference books at an international publishing house.</div>
    <div class="author-msg" id="author-desc-3">This is Candice’s first book.</div>
  </div>
  <ul class="nav">
    <li id="nav-item-1"><a href="#/">home</a></li>
    <li id="nav-item-2"><a href="#/author">author</a></li>
    <li id="nav-item-3"><a href="#/book">book</a></li>
    <li id="nav-item-4"><a href="#/blog">blog</a></li>
  </ul>
</section>