<section class="book">
  <div class="container">
    <div class="book-msg">
      <h3>About The Book</h3>
      <p id="msg1"><em>But Mostly I Think of You</em> is a volume of 12 short stories brought to life with illustrations by the talented MessyMsxi.</p>
      <p id="msg2">These 12 stories, along with others, have been nesting in my small Moleskin notebooks for a few years now, kept in warm dark places but always close to me.  The characters that have been with me the longest are Bonsai Girl and Banana Boy. She has outgrown the thumbed pages of my notebook, and yearns to see the world and to be seen.</p>
      <p id="msg3">The underlying theme that ties these stories together is love. Some of the stories have dreamlike settings, some fantastical, but all are born of real, heartfelt emotions.</p>
      <p id="msg4">I hope these stories will speak to the readers in a deeply personal and intimate way, as they spoke to me while I was writing them.</p>
    </div>
    <div class="bonsai-banana"></div>
  </div>
  <ul class="nav">
    <li id="nav-item-1"><a href="#/">home</a></li>
    <li id="nav-item-2"><a href="#/author">author</a></li>
    <li id="nav-item-3"><a href="#/book">book</a></li>
    <li id="nav-item-3"><a href="#/blog">blog</a></li>
  </ul>
</section>

