<section class="blog-list">
  <div class="navbar">
    <ul class="nav">
      <li id="nav-item-1"><a href="#/">home</a></li>
      <li id="nav-item-2"><a href="#/author">author</a></li>
      <li id="nav-item-3"><a href="#/book">book</a></li>
      <li id="nav-item-3"><a href="#/blog">blog</a></li>
    </ul>
  </div>
  <div class="reading-list">
    <h2>Latest stories</h2>
    <div class="post-block">
      <div class="post-tagLister">
        <span class="post-tag">
          <i class="fa fa-tag fa-flip-horizontal"></i>
          productivity
        </span>
        <span class="post-tag">
          <i class="fa fa-tag fa-flip-horizontal"></i>
          education
        </span>
      </div>
      <div class="post-header">
        <div class="post-inline-avatar">
          <img src="assets/img/authorPortrait.jpg" class="avatar" / >
        </div>
        <div class="post-inline-feed">
          <span class="post-user">Candice</span>
          <span class="post-date">Jul 21</span>
        </div>
      </div>
      <div class="post-body">
        <h3>Natus ipsam illum magni inventore</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id reprehenderit voluptatum laudantium repellendus qui eos ipsam, earum, iusto illo dolore esse! Esse deserunt quidem unde! Pariatur eos in minus voluptatum.</p>
      </div>
      <div class="post-footer">
        <a href="#/blog/id/natus-ipsam-illum">Read more</a>
      </div>
    </div>
    <div class="post-block">
      <div class="post-tagLister">
        <span class="post-tag">
          <i class="fa fa-tag fa-flip-horizontal"></i>
          productivity
        </span>
        <span class="post-tag">
          <i class="fa fa-tag fa-flip-horizontal"></i>
          education
        </span>
      </div>
      <div class="post-header">
        <div class="post-inline-avatar">
          <img src="assets/img/authorPortrait.jpg" class="avatar" / >
        </div>
        <div class="post-inline-feed">
          <span class="post-user">Candice</span>
          <span class="post-date">Jul 21</span>
        </div>
      </div>
      <div class="post-body">
        <h3>Natus ipsam illum magni inventore</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id reprehenderit voluptatum laudantium repellendus qui eos ipsam, earum, iusto illo dolore esse! Esse deserunt quidem unde! Pariatur eos in minus voluptatum.</p>
      </div>
      <div class="post-footer">
        <a href="#/blog/id/natus-ipsam-illum">Read more</a>
      </div>
    </div>
    <div class="post-block">
      <div class="post-tagLister">
        <span class="post-tag">
          <i class="fa fa-tag fa-flip-horizontal"></i>
          productivity
        </span>
        <span class="post-tag">
          <i class="fa fa-tag fa-flip-horizontal"></i>
          education
        </span>
      </div>
      <div class="post-header">
        <div class="post-inline-avatar">
          <img src="assets/img/authorPortrait.jpg" class="avatar" / >
        </div>
        <div class="post-inline-feed">
          <span class="post-user">Candice</span>
          <span class="post-date">Jul 21</span>
        </div>
      </div>
      <div class="post-body">
        <h3>Natus ipsam illum magni inventore</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id reprehenderit voluptatum laudantium repellendus qui eos ipsam, earum, iusto illo dolore esse! Esse deserunt quidem unde! Pariatur eos in minus voluptatum.</p>
      </div>
      <div class="post-footer">
        <a href="#/blog/id/natus-ipsam-illum">Read more</a>
      </div>
    </div>
  </div>
  <div class="bonsai-banana"></div>
</section>